<div>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DATES</span>
      <span class="example-spacer"></span>
      
    </mat-toolbar>
</div>


<div class="login-container">
    
    <div class="form-header">
        <h1>Iniciar Sesion</h1>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="form-body">
        <form [formGroup]="loginForm" class="form-login">
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input type="email" matInput placeholder="Ingresa tu correo" formControlName="usuario">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Ingresa tu contraseña" formControlName="password">
            </mat-form-field>
            <a style="text-align: center;" href="https://support.google.com/accounts/answer/7682439?hl=es-419">¿Olvidaste tu contraseña?</a>
            <a style="text-align: center;" href="/register">¿No tienes cuenta?</a>
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Entrar</button>
        </form>
    </div>
</div>

