.register-container{
    /* border: 2px solid black; */
    margin: 50px 25%;
    height: auto;
}

.form-header{
    text-align: center;
    color: white;
    background-color: #455A64;
}

.form-register{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}