<form [formGroup]="agregarConsultaForm">
    <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{height: '4px'}"></p-progressBar>
    <div class="p-fluid ">
        <div class="p-field">
            <label for="firstname1">Titulo Consulta</label>
            <input id="firstname1" type="text" pInputText formControlName="tituloConsulta"> 
        </div>
    
        <div class="p-field">
            <label for="lastname1">Descripción Consulta</label>
            <textarea [rows]="2" [cols]="30" pInputTextarea formControlName="descripcionConsulta" ></textarea>
        </div>
    
        <div class="p-field">
            <label for="lastname1">Especialidad</label>
            <p-dropdown [options]="especialidad_list" (onChange)="hola($event)" placeholder="Seleccione una especialidad" optionLabel="descripcion" optionValue="id_especialidad" formControlName="especialidad"></p-dropdown>
        </div>
    
        <div class="p-field">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon" >$</span>
                <input type="number" pInputText placeholder="Precio" formControlName="precioConsulta">   
                <span class="p-inputgroup-addon">.00</span>      
            </div>
        </div>
    
        <div class="p-field">
            <p-fileUpload #fileInput name="fotito" (onSelect)="onFileChange($event)" [showUploadButton]="false" [showCancelButton]="false"></p-fileUpload> 
            <!-- <button mat-raised-button color=primary><input type="file" formControlName="fotoConsulta" (change)="onFileChange($event)"></button> -->
        </div>
    
        <!-- <button mat-raised-button color="primary" [disabled]="!agregarConsultaForm.valid" (click)="crearConsulta()">Crear Consulta</button> -->
        <button pButton type="button" [disabled]="!agregarConsultaForm.valid" (click)="crearConsulta()" label="Crear Consulta" ></button>
    </div>
</form>
